<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Store</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../assets/css/base/base.css" />
    <link rel="stylesheet" href="../assets/css/components/navigation.css" />
  </head>
  <body>
    <header>
      <nav class="menu">
        <p class="menu__section">Store Supply</p>
          <div class="menu__nav">
            <a href="#">Stock</a>
            <a href="insert.html">Add item</a>
          </div>
        </div>
      </nav>
    </header>
    <section class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
            <th scope="col">Year</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody data-table></tbody>
      </table>
    </section>
  </body>
  <script type="module" src="../controller/getContent-controller.js"></script>
</html>
